{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}blackjack{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'blackjack/styles.css' %}" rel="stylesheet">
    {% block script %}
    {% endblock %}
</head>

<body>
    <h1>blackjack screen</h1>
    <script src="{% static 'blackjack/blackjack.js' %}"></script>
    <div class="container-xl">

    </div>
    <div class="container text-center" id="bet-view">
        <div class="row align-items-end">
            <div class="col p-3">
                <button class="btn btn-info bet-btn" data-chip-val="5">5</button>
            </div>
            <div class="col p-3">
                <button class="btn btn-info bet-btn" data-chip-val="10">10</button>
            </div>
            <div class="col p-3">
                <button class="btn btn-info bet-btn" data-chip-val="15">15</button>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col p-3">
                <button class="btn btn-info deal-btn">Deal</button>
            </div>
        </div>
    </div>
    <div class="container text-center" id="deal-view">
        <div class="row align-items-start">
            <div class="col p-3">
                <div id="dealer-cards"></div>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col p-3">
                <div id="player-cards"></div>
            </div>
        </div>
        <div class="row-align-items-start" id="choice-view">
            <h1>choice view</h1>
        </div>

    </div>
</body>

</html>